h2 {
  margin: 2em 0;
  font-size: 1.5em;
  font-family: $font-h2;
}

h3 {
  margin: 1.5em 0;
  font-size: 1.25em;
  font-family: $font-h3;

  &:not(:first-child) {
    margin-top: 2em;
  }
}

p {
  margin: 0.5em 0;
  font-family: $font-p;
  &:not(:last-child) {
    margin-bottom: 0.75em;
  }
}

* a:visited,
* a {
  color: initial;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

ul,
ol,
dl {
  font-family: $font-list;
}

ul {
  margin: 1.5em 0;

  @media only screen and (min-width: $lg) {
    font-size: 1.1em;
  }

  li {
    margin-left: 1.2em;

    &::before {
      content: "➢";
      margin-left: -1.3em;
      color: $green;
    }

    &:not(:first-child) {
      padding-top: 0.5em;
    }
  }

  .cross {
    &::before {
      content: "⨉";
      margin-left: -1em;
      color: red;
    }
  }
}

ol {
  margin: 1.5em 0;

  @media only screen and (min-width: $lg) {
    font-size: 1.1em;
  }

  li {
    margin-left: 1.2em;
    list-style-type: decimal;

    &:not(:first-child) {
      padding-top: 0.5em;
    }
  }
}

dl {
  margin: 1.5em 0;
  font-family: $font-list;

  @media only screen and (min-width: $lg) {
    font-size: 1.1em;
  }

  dt {
    font-weight: bold;
    font-family: $font-list-heading;
    margin-bottom: 0.5em;

    &:not(:first-child) {
      margin-top: 1em;
    }
  }
}

.quote {
  font-style: italic;
}

.quote-name {
  margin-top: -0.5em;
  font-size: 0.875em;
  text-align: right;

  @media only screen and (min-width: $lg) {
    font-size: 1em;
  }
}

.small {
  font-size: 0.8em;
}
