---
export const prerender = true;

import Layout from "src/layouts/Layout.astro";
import SectionLayout from "src/layouts/SectionLayout.astro";
---

<Layout
  title="A typical day at Montessori Garden"
  description="A brief overview of our daily agenda"
>
  <SectionLayout heading="A typical day">
    <h2>Here is how we structure the day at Montessori Garden:</h2>
    <dl>
      <dt>8.00 A.M.</dt>
      <dd>Arrivals and breakfast</dd>
      <dt>9.00 A.M.</dt>
      <dd>Circle Time</dd>
      <dt>9.30 A.M.</dt>
      <dd>Montessori work (snacks and fruits available from 10.30 A.M.)</dd>
      <dt>12.00 P.M.</dt>
      <dd>Lunch</dd>
      <dt>12.45 P.M.</dt>
      <dd>Rest/Sleep and Milk</dd>
      <dt>3.00 P.M.</dt>
      <dd>Extracurricular activities</dd>
      <dt>4.00 P.M.</dt>
      <dd>Tea and Outdoor Garden Activities</dd>
      <dt>6.00 P.M.</dt>
      <dd>Collections</dd>
    </dl>
    <p>
      Your child’s experiences in the pre-school years are critical in their
      subsequent development and a high quality early years education is a
      crucial step towards ensuring a positive and eager to learn attitude to
      later formal education. We tailor a range of different types of activities
      and experiences by following your unique child’s way and rate of learning
      and preparing an enabling environment in which s/he can thrive on the
      basis of the positive relationships s/he makes within our classroom
      community. Your child’s individual learning and development booklet
      provides an opportunity for 2-way written communication between parents
      and carers in addition to our daily verbal interactions about your child’s
      learning.
    </p>
  </SectionLayout>
  <SectionLayout heading="Nutrition and Menu">
    <p>
      It is important that parents let us know and keep us updated of any
      dietary requirements of your child.
    </p>
    <p>
      At Montessori Garden we recognise that a balanced diet and healthy eating
      habits are vital for growth. Cooking and/or exploring our food with our
      children provide an exciting opportunity to refine our sense of smell and
      taste as well as celebrate the variety of cultures represented by our
      food.
    </p>
    <p>
      Our sample two weekly rotational menu can be viewed here. The menu changes
      seasonally and we display the weekly menu on our Parent’s Notice board at
      the setting to help our parents plan their children’s meals. The daily
      menu may change in accordanceMontessori Garden Nursery School Kentish Town
      N with the fresh ingredients available on the day and any changes are
      notified.
    </p>
    <p>
      Water is available to our children at all times throughout the day and
      milk is served at mealtimes and after rest/sleep time.
    </p>
  </SectionLayout>
</Layout>

<style lang="scss">
  @import "../styles/vars.scss";
  @import "../styles/section.scss";
</style>
