---
import Layout from "src/layouts/Layout.astro";
import SectionLayout from "src/layouts/SectionLayout.astro";
---

<Layout
  title="Calendar Events | Montessori Garden"
  description="Here you can find our calendar with info about Bank and School Holidays, Open Mornings when you can come and visit our nursery, and various other events"
>
  <SectionLayout heading="Calendar Events">
    <div class="container">
      <p>
        This is our annual events calendar, you can also print it out by
        clicking <span class="print">here</span>
        <div id="calendar"></div>
        <div class="legend">
          <table class="tg">
            <thead>
              <tr>
                <th style="text-align: center" class="tg-0pky" colspan="2"
                  >Days</th
                >
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width: 20%; background: #393c99" class="tg-0pky"
                ></td>
                <td class="tg-0pky">Bank Holiday</td>
              </tr>
              <tr>
                <td style="background: #bf60bf" class="tg-0pky"></td>
                <td class="tg-0pky">Open Day</td>
              </tr>
              <tr>
                <td style="background: #2086ab" class="tg-0pky"></td>
                <td class="tg-0pky">Inset Day</td>
              </tr>
              <tr>
                <td style="background: #ab3018" class="tg-0pky"></td>
                <td class="tg-0pky">Parent's Social Evening</td>
              </tr>
              <tr>
                <td style="background: #849110" class="tg-0pky"></td>
                <td class="tg-0pky">Parent Teacher Chats</td>
              </tr>
              <tr>
                <td style="background: #808080" class="tg-0pky"></td>
                <td class="tg-0pky">Seasonal Closure</td>
              </tr>
            </tbody>
          </table>
        </div>
        <dl>
          <dt>2nd Jan, Monday</dt>
          <dd>Bank Holiday</dd>
          <dt>3-4th Jan, Tuesday-Wednesday</dt>
          <dd>School Winter Closure</dd>
          <dt>5th Jan, Thursday</dt>
          <dd>First day of school after Winter Closure</dd>
          <dt>28th Jan, Saturday</dt>
          <dd>OPEN DAY</dd>
          <dt>16 Feb, Thursday</dt>
          <dd>Parents Social Evening</dd>
          <dt>17 Feb, Friday</dt>
          <dd>INSET DAY - School closed for children</dd>
          <dt>7th Apr, Friday</dt>
          <dd>Bank Holiday</dd>
          <dt>10th Apr, Monday</dt>
          <dd>Bank Holiday</dd>
          <dt>24-28th Apr, Monday-Friday</dt>
          <dd>Parent Teacher Chats</dd>
          <dt>1st May, Monday</dt>
          <dd>Bank Holiday</dd>
          <dt>2nd May, Tuesday</dt>
          <dd>INSET DAY - School closed for children</dd>
          <dt>8th May, Monday</dt>
          <dd>Bank Holiday</dd>
          <dt>20th May, Saturday</dt>
          <dd>OPEN DAY</dd>
          <dt>29th May, Monday</dt>
          <dd>Bank Holiday</dd>
          <dt>3rd Jul, Monday</dt>
          <dd>Parents Social Evening</dd>
          <dt>14-18th Aug, Monday-Friday</dt>
          <dd>Parent Teacher Chats</dd>
          <dt>21-25th Aug, Monday-Friday</dt>
          <dd>School Summer Closure</dd>
          <dt>28th Aug, Monday</dt>
          <dd>Bank Holiday</dd>
          <dt>29th Aug, Tuesday</dt>
          <dd>INSET DAY - School closed for children</dd>
          <dt>30th Oct, Monday</dt>
          <dd>INSET DAY - School closed for children</dd>
          <dt>13-17th Nov, Monday-Friday</dt>
          <dd>Parent Teacher Chats</dd>
          <dt>23rd Nov, Thursday</dt>
          <dd>Parents Social Evening</dd>
          <dt>22nd Dec, Friday</dt>
          <dd>INSET DAY - School closed for children</dd>
          <dt>25-26th Dec, Monday-Tuesday</dt>
          <dd>Bank Holiday</dd>
          <dt>27-29th</dt>
          <dd>School Winter Closure</dd>
        </dl>
      </p>
    </div>
  </SectionLayout>

  <script>
    import Calendar from "js-year-calendar";
    import "js-year-calendar/dist/js-year-calendar.css";
    import { events } from "../assets/data/events";
    const innerWidth = window.innerWidth;
    let monthsDisplayed = undefined;
    if (innerWidth < 992) {
      monthsDisplayed = 1;
    } else if (innerWidth < 1200) {
      monthsDisplayed = 3;
    } else {
      monthsDisplayed = 12;
    }

    const currentYear = new Date().getFullYear();

    new Calendar("#calendar", {
      loadingTemplate: "<p>Calendar loading...</p>",
      style: "background",
      minDate: new Date(currentYear, 0, 1),
      maxDate: new Date(currentYear, 11, 31),
      numberMonthsDisplayed: monthsDisplayed,
      dataSource: events,
    });
  </script>

  <style lang="scss">
    @import "../styles/vars.scss";
    @import "../styles/section.scss";

    .container {
      display: flex;
      flex-direction: column;

      .print {
        text-decoration: underline;
      }

      .legend {
        display: flex;
        justify-content: center;
        margin-top: 1em;

        .tg {
          border-collapse: collapse;
          border-spacing: 0;
          width: 220px;
        }
        .tg td {
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        }
        .tg th {
          border-color: black;
          border-style: solid;
          border-width: 1px;
          font-family: Arial, sans-serif;
          font-size: 14px;
          font-weight: normal;
          overflow: hidden;
          padding: 10px 5px;
          word-break: normal;
        }
        .tg .tg-0pky {
          border-color: inherit;
          text-align: left;
          vertical-align: top;
        }
      }
    }
  </style>
</Layout>
