---
export const prerender = true;

import Layout from "src/layouts/Layout.astro";
import SectionLayout from "src/layouts/SectionLayout.astro";
---

<Layout
  title="Our Curriculum | Montessori Garden"
  description="How the Montessori Method is applied at us"
>
  <SectionLayout heading="Our Curriculum">
    <p>
      We at Montessori Garden recognise the dynamic and inter-related nature of
      the different areas of learning and therefore our carefully planned
      curriculum for the unique child differs greatly not only in appearance but
      also in presentation.
    </p>
    <p>
      For an in-depth presentation of how we apply the Montessori principles,
      please see <a href="/montessori-method#montessori-at-us"
        >Montessori at Us</a
      >.
    </p>
    <p>
      Our <a href="/virtual-tour">indoor and outdoor classrooms</a> are carefully
      planned by our qualified staff for the specific group. We also endeavour to
      provide our children with weekly free learning space in <a
        target="_blank"
        href="https://www.hampsteadheath.net/">Hampstead Heath</a
      >
      and sports focused learning in Peckwater Estate sports facilities led by our
      qualified sports coach weekly, as well as weekly music, drama and free movement
      classes. Please contact us to find out what is currently being organised.
    </p>
    <h3>The different areas of learning are:</h3>
    <dl>
      <dt>Practical Life Skills</dt>
      <dd>
        – to aid independence, co-ordination, movement, balance and grace. It
        consists of Care for the Environment, Care of the Self, Refinement of
        manipulative skills and grace and courtesy activities.
      </dd>

      <dt>Personal, social and emotional skills</dt>
      <dd>
        – developing confidence, self-respect, positive relationships with other
        children and adults, persevere in their learning and sensitivity to the
        needs of others.
      </dd>

      <dt>Physical development</dt>
      <dd>
        – moving confidently and imaginatively, increasing control and
        co-ordination and awareness of space and others.
      </dd>

      <dt>Communication and Language</dt>
      <dd>
        – opportunities to experience a rich language environment, develop
        confidence and skill in expressing themselves, and to speak and listen
        in a range of situations.
      </dd>

      <dt>Literacy</dt>
      <dd>
        – understanding that language can be written (books, journals,
        flashcards), mark-making that ideas can be carried on paper, beginnings
        of letter recognition.
      </dd>

      <dt>Mathematics</dt>
      <dd>
        – sorting, matching and counting, developing a systematic approach to
        learning through the use of objects, while slowly helping the child in
        understanding and using numbers, measurements, spaces and shapes.
      </dd>

      <dt>Knowledge and Understanding of the World</dt>
      <dd>
        – opportunities to explore a wide range of topics through activities and
        materials based on real-life experiences, helping to make sense of their
        physical world and their community.
      </dd>

      <dt>Expressive Arts and Design</dt>
      <dd>
        – share their thoughts, ideas and feelings through a variety of
        activities in art, music, movement, dance, sports, role play and design
        and technology.
      </dd>
    </dl>
  </SectionLayout>
</Layout>

<style lang="scss">
  @import "../styles/vars.scss";
  @import "../styles/section.scss";
</style>
