---
import Layout from "src/layouts/Layout.astro";
import SectionLayout from "src/layouts/SectionLayout.astro";
import Fees from "../components/FeesTable.html";
---

<Layout
  title="Enrolment info | Montessori Garden"
  description="We are an equal opportunities nursery school and children and families are all valued, regardless of gender, race, religion, culture, ethnicity, disability or socio-economic background."
>
  <SectionLayout heading="Enrolment">
    <p>
      We are an equal opportunities nursery school and children and families are
      all valued, regardless of gender, race, religion, culture, ethnicity,
      disability or socio-economic background. We do need to know as much
      information about your child as we can at the outset to ensure we are able
      to meet all the needs of your child such as learning a few words in your
      child’s mother tongue if English is a second language, organising for any
      specialised staff or any necessary additional training for specific needs
      or modifying our menu to tailor to your child’s dietary requirements. We
      are currently accepting children from 3 months old, depending on each
      unique child.
    </p>
    <h2>Admissions</h2>
    <h3>Our admissions procedure is as follows:</h3>
    <p>
      A completed Admission Form with full Terms and Conditions and
      Questionnaire about your child is submitted with the registration fee of
      £50. This registration fee covers the expense of the application process
      and is not refundable. This first step places your child on the waiting
      list for admission.
    </p>
    <ol>
      <li>
        We will then arrange for a mutually convenient time for you and your
        child to visit the nursery school (if this is not already done).
      </li>
      <li>
        Once a place becomes available and prior to entry, the deposit will
        become payable to confirm your booking. On receipt of the deposit your
        child’s place is confirmed. In the event of a cancellation by you after
        a place has been accepted, the deposit will not be refunded, subject to
        normal contractual notice requirements for termination of your booking.
      </li>
      <li>
        A full first month’s fee must be deposited prior to the child commencing
        nursery.
      </li>
      <li>
        Notice of termination must be made in writing in accordance with the
        full Terms and Conditions.
      </li>
    </ol>
    <h2>Services & Fees</h2>
    <table class="tg">
      <thead>
        <tr>
          <th class="tg-c3ow" colspan="4">Fees are per month</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tg-0pky" rowspan="2"></td>
          <td class="tg-8bgf" colspan="3">Age group</td>
        </tr>
        <tr>
          <td class="tg-83nw" rowspan="2">Under 2s</td>
          <td class="tg-v0hj" rowspan="2">2-5 years</td>
          <td class="tg-v0hj" rowspan="2">
            3 and 4 years<br /><span style="font-style: italic"
              >* if eligible for universal
            </span><br /><span style="font-style: italic">funding</span>
          </td>
        </tr>
        <tr>
          <td class="tg-8bgf">Days per week</td>
        </tr>
        <tr>
          <td class="tg-2dfk">2</td>
          <td class="tg-dzcz">£1,060<br /></td>
          <td class="tg-n3yg">£984</td>
          <td class="tg-n3yg">£672</td>
        </tr>
        <tr>
          <td class="tg-n533">3</td>
          <td class="tg-4nj6">£1,497</td>
          <td class="tg-wfs9">£1.393</td>
          <td class="tg-wfs9">£1,081<br /></td>
        </tr>
        <tr>
          <td class="tg-2dfk">4</td>
          <td class="tg-dzcz">£1,699</td>
          <td class="tg-n3yg">£1,599<br /></td>
          <td class="tg-n3yg">£1,287</td>
        </tr>
        <tr>
          <td class="tg-n533">5</td>
          <td class="tg-4nj6">£1,799</td>
          <td class="tg-wfs9">£1,699</td>
          <td class="tg-wfs9">£1,387</td>
        </tr>
        <tr>
          <td class="tg-0pky" colspan="4"></td>
        </tr>
        <tr>
          <td class="tg-0pky">Deposit**</td>
          <td class="tg-c3ow" colspan="2">£900</td>
          <td class="tg-0pky" rowspan="6">
            <i style="font-style: italic"
              >* Govt funding is available for children born during qualifying
              dates - starting at the beginning of or during a Camden School
              Term and is 3yo at the beginning of the term in which discount is
              to be applied.</i
            >
          </td>
        </tr>
        <tr>
          <td class="tg-0pky">Registration Fee**</td>
          <td class="tg-c3ow" colspan="2">£50</td>
        </tr>
        <tr>
          <td class="tg-0pky">Late pick-up each 1 min</td>
          <td class="tg-c3ow" colspan="2">£1.00</td>
        </tr>
        <tr>
          <td class="tg-0pky">Home drop-off</td>
          <td class="tg-c3ow" colspan="2">£39.00</td>
        </tr>
        <tr>
          <td class="tg-0pky">Ad Hoc Hours / hour</td>
          <td class="tg-c3ow">£17.50</td>
          <td class="tg-c3ow">£15.50</td>
        </tr>
        <tr>
          <td class="tg-0pky">Babysitting / hour</td>
          <td class="tg-c3ow" colspan="2">£28.00</td>
        </tr>
      </tbody>
    </table>
    <p>
      Montessori Garden Nursery School provides reliable childcare from 8.00am
      to 6.00pm Monday to Friday 50 weeks of the years, except for closures over
      5 INSET days a year, all Bank Holidays and two weeks at Christmas and
      Summer.
    </p>
    <p>
      There is flexibility to choose from 2<b>**</b> to 5 full days a week as well
      as auxiliary services.
    </p>
    <p>
      All tenure fees are paid monthly in advance by Standing Order on the 1st
      of each month (all our fees are annualized and divided into 12 equal
      monthly installments and the monthly fees are not pro-rated, except at the
      start due to free settling in sessions, to simplify admin and save related
      costs).
    </p>
    <p>
      You may also want to visit
      <a href="https://www.childcarechoices.gov.uk/">UK Childcare Services</a>
    </p>
    <ul>
      <li>
        Childcare vouchers are accepted for those parents who already have a
        voucher account. Parents remain liable for fees in full on the 1st of
        each month by Standing Order and any childcare vouchers already received
        thereafter will be reimbursed to parents on receipt.
      </li>
      <li>
        Discounts are available for prepayments for one year in advance, second
        siblings and corporate places. Please ask for more details.
      </li>
      <li>
        3 and 4 year olds qualify for universal government funding and may also
        qualify for extended government funding. Fee Structure table above will
        be subject to our usual annual review.
      </li>
      <li>
        Annual fee structure and staff remunerations will be reviewed each year
        (pls note after freezing our fees since 2019, the last updated fees are
        as of June 2021 with next review date due in June 2022)
      </li>
      <li>
        Extra days can be arranged on days not normally attended by using our
        ad-hoc service. These sessions are available for registered children
        only and charged at the ad-hoc hourly rate for the hours attended, are
        whole hour charging, and are subject to availability.
      </li>
    </ul>
    <p class="small">
      <b>**</b>Funded places for 3 & 4 year olds are available, please contact
      us for details. Subject to availability, State Funded Parents relying on
      funded only places can access 1 full day a week, no registration fee and
      £50 deposit. Please note we do NOT offer 30hr funding or 2yo funding (the
      main reason we are not offering them is that the rate we receive from the
      local authority is lower than the rate it costs us to provide care and to
      process it, inflation and labour costs continue to rise while funding
      remains fixed).
    </p>
    <h2>Additional Childcare Services</h2>
    <p>
      Please ask to see our full Terms and Conditions for further details. Our
      Policies and Procedures are also available to view at the setting upon
      request.
    </p>
  </SectionLayout>
</Layout>

<style lang="scss">
  @import "../styles/vars.scss";
  @import "../styles/section.scss";

  .tg {
    border-collapse: collapse;
    border-spacing: 0;
  }
  .tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }
  .tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
  }
  .tg .tg-83nw {
    background-color: #efefef;
    border-color: #343434;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
  }
  .tg .tg-8bgf {
    border-color: inherit;
    font-style: italic;
    text-align: center;
    vertical-align: top;
  }
  .tg .tg-v0hj {
    background-color: #efefef;
    border-color: inherit;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
  }
  .tg .tg-dzcz {
    background-color: #ecf4ff;
    border-color: #343434;
    text-align: right;
    vertical-align: top;
  }
  .tg .tg-c3ow {
    border-color: inherit;
    text-align: center;
    vertical-align: top;
  }
  .tg .tg-4nj6 {
    background-color: #dae8fc;
    border-color: #343434;
    text-align: right;
    vertical-align: top;
  }
  .tg .tg-2dfk {
    background-color: #ecf4ff;
    border-color: inherit;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
  }
  .tg .tg-0pky {
    border-color: inherit;
    text-align: left;
    vertical-align: top;
  }
  .tg .tg-n3yg {
    background-color: #ecf4ff;
    border-color: inherit;
    text-align: right;
    vertical-align: top;
  }
  .tg .tg-n533 {
    background-color: #dae8fc;
    border-color: inherit;
    font-weight: bold;
    text-align: center;
    vertical-align: top;
  }
  .tg .tg-wfs9 {
    background-color: #dae8fc;
    border-color: inherit;
    text-align: right;
    vertical-align: top;
  }
</style>
