---
import Layout from "src/layouts/Layout.astro";
import SectionLayout from "src/layouts/SectionLayout.astro";
---

<Layout
  title="Calendar Events | Montessori Garden"
  description="Here you can find our calendar with info about Bank and School Holidays, Open Mornings when you can come and visit our nursery, and various other events"
>
  <SectionLayout heading="Calendar Events">
    <p>Here you can view and print out our annual calendar</p>
    <div class="calendar"></div>
    <dl>
      <dt>2nd Jan, Monday</dt>
      <dd>Bank Holiday</dd>
      <dt>3-4th Jan, Tuesday-Wednesday</dt>
      <dd>School Winter Closure</dd>
      <dt>5th Jan, Thursday</dt>
      <dd>First day of school after Winter Closure</dd>
      <dt>28th Jan, Saturday</dt>
      <dd>OPEN DAY</dd>
      <dt>16 Feb, Thursday</dt>
      <dd>Parents Social Evening</dd>
      <dt>17 Feb, Friday</dt>
      <dd>INSET DAY - School closed for children</dd>
      <dt>7th Apr, Friday</dt>
      <dd>Bank Holiday</dd>
      <dt>10th Apr, Monday</dt>
      <dd>Bank Holiday</dd>
      <dt>24-28th Apr, Monday-Friday</dt>
      <dd>Parent Teacher Chats</dd>
      <dt>1st May, Monday</dt>
      <dd>Bank Holiday</dd>
      <dt>2nd May, Tuesday</dt>
      <dd>INSET DAY - School closed for children</dd>
      <dt>8th May, Monday</dt>
      <dd>Bank Holiday</dd>
      <dt>20th May, Saturday</dt>
      <dd>OPEN DAY</dd>
      <dt>29th May, Monday</dt>
      <dd>Bank Holiday</dd>
      <dt>3rd Jul, Monday</dt>
      <dd>Parents Social Evening</dd>
      <dt>14-18th Aug, Monday-Friday</dt>
      <dd>Parent Teacher Chats</dd>
      <dt>21-25th Aug, Monday-Friday</dt>
      <dd>School Summer Closure</dd>
      <dt>28th Aug, Monday</dt>
      <dd>Bank Holiday</dd>
      <dt>29th Aug, Tuesday</dt>
      <dd>INSET DAY - School closed for children</dd>
      <dt>30th Oct, Monday</dt>
      <dd>INSET DAY - School closed for children</dd>
      <dt>13-17th Nov, Monday-Friday</dt>
      <dd>Parent Teacher Chatds</dd>
      <dt>23rd Nov, Thursday</dt>
      <dd>Parents Social Evening</dd>
      <dt>22nd Dec, Friday</dt>
      <dd>INSET DAY - School closed for children</dd>
      <dt>25-26th Dec, Monday-Tuesday</dt>
      <dd>Bank Holiday</dd>
      <dt>27-29th</dt>
      <dd>School Winter Closure</dd>
    </dl>
  </SectionLayout>
</Layout>

<script>
  import Calendar from "js-year-calendar";
  import "js-year-calendar/dist/js-year-calendar.css";

  const currentYear = new Date().getFullYear();

  new Calendar(".calendar", {
    loadingTemplate: "<p>Calendar loading...</p>",
    style: "background",
    minDate: new Date(currentYear, 0, 1),
    maxDate: new Date(currentYear, 11, 31),
    numberMonthsDisplayed: 1,
  });
</script>

<style lang="scss">
  @import "../styles/vars.scss";
  @import "../styles/section.scss";

  .month {
    margin-bottom: 1em;
  }
</style>
