---
export const prerender = true;

import Layout from "src/layouts/Layout.astro";
import SectionLayout from "src/layouts/SectionLayout.astro";
---

<Layout
  title="Login | Montessori Garden Kentish Town"
  description="Login to access Parents' Corner or Staff Area"
>
  <div class="container">
    <SectionLayout heading="Login">
      <form action="/.netlify/functions/login.ts">
        <label for="user"> Enter as:</label>
        <select id="user" name="user">
          <option value="parent">Parent</option>
          <option value="staff">Staff</option>
        </select>
        <label for="password"> Password:</label>
        <input type="password" id="password" name="password" />
        <input type="submit" value="Login" />
      </form>
      <div id="message"></div>
    </SectionLayout>
  </div>
</Layout>

<script>
  const token = sessionStorage.getItem("_mg");
  var url = new URL(window.location.href);
  const userType = url.searchParams.get("user");
  const renew = url.searchParams.get("renew");

  if (renew === "true") sessionStorage.clear();

  if (token) {
    if (userType === "parent") {
      location.href = "/parents-corner?token=" + token;
    } else if (userType === "staff") {
      location.href = "/staff-area?token=" + token;
    }
  }

  if (userType) {
    const userField = document.getElementById("user") as HTMLElement;
    const userOption = userField.querySelector(
      `[value=${userType}]`
    ) as HTMLOptionElement;
    userOption.selected = true;
  }

  async function handleLogin(event: Event) {
    event.preventDefault();

    const formData: FormData = new FormData(
      event.currentTarget as HTMLFormElement
    );
    const user = formData.get("user");
    const password = formData.get("password");

    const response = await fetch("/handleLogin.api", {
      method: "POST",
      headers: { "Content-Type": "application/json" },
      body: JSON.stringify({ user: user, password: password }),
    });

    if (response.ok) {
      const json = await response.json();
      console.log(json);
      sessionStorage.setItem("_mg", json.token);

      if (user === "parent") {
        location.href = "/parents-corner?token=" + json.token;
      } else {
        location.href = "/staff-area?token=" + json.token;
      }
    } else {
      const messageEl = document.getElementById("message") as HTMLElement;
      messageEl.innerText = "Wrong password";
    }
  }

  const form = document.querySelector("form");
  form?.addEventListener("submit", handleLogin);
</script>

<style lang="scss">
  @import "../styles/vars.scss";
  @import "../styles/section.scss";

  .container {
    min-height: calc(100vh - $ht-footer-lg - $ht-header-md);

    #message {
      margin: 1em 0;
      color: red;
    }
  }
</style>
