---
import { Image } from "astro:assets";

import Layout from "src/layouts/Layout.astro";
import SectionLayout from "src/layouts/SectionLayout.astro";

import montessori from "../assets/images/about-montessori/maria-montessori.jpg";
---

<Layout
  title="What is the Montessori Method? | Montessori Garden Kentish Town"
  description="Discover the innovative Montessori Method of education, developed by Dr. Maria Montessori."
>
  <article class="container">
    <SectionLayout heading="About Montessori">
      <div class="img-container">
        <Image
          class="img"
          src={montessori}
          alt="portrait of Dr. Maria Montessori"
          height={230}
        />
        <p>
          Montessori education is an educational approach developed by Italian
          physician and educator Maria Montessori and characterized by an
          emphasis on independence, freedom within limits, and respect for a
          child’s natural psychological, physical, and social development.
          Although a range of practices exists under the name “Montessori”, the
          Association Montessori Internationale (AMI) and the American
          Montessori Society (AMS) cite these elements as essential:
        </p>
      </div>
      <ul>
        <li>
          Mixed age classrooms, with classrooms for children ages 2½ or 3 to 6
          years old by far the most
        </li>
        <li>
          Student choice of activity from within a prescribed range of options
        </li>
        <li>&nbsp;Uninterrupted blocks of work time, ideally three hours</li>
        <li>
          A constructivist or “discovery” model, where students learn concepts
          from working with materials, rather than by direct instruction
        </li>
        <li>
          Specialized educational materials developed by Montessori and her
          collaborators
        </li>
        <li>&nbsp;Freedom of movement within the classroom</li>
        <li>&nbsp;A trained Montessori teacher</li>
      </ul>
      <div class="source">
        <a
          target="_blank"
          href="https://en.wikipedia.org/wiki/Montessori_education">Source</a
        >
      </div>
    </SectionLayout>
  </article>
  <article class="container" id="montessori-at-us">
    <SectionLayout heading="Montessori at Us">
      <h2>
        Parents often ask “What are the distinguishing features of a
        high-quality Montessori nursery?
      </h2>
      <p>
        Our first answer is seeing is believing! Come and visit us at Montessori
        Garden, then compare what you see to your observations. If you haven’t
        booked a visit yet, please contact us to schedule a visit.
      </p>
      <h2>Here are some features some parents noted and our elaborations:</h2>
      <h3>A calm, orderly environment.</h3>
      <p>
        Messy play can still be orderly. We love for our children to run, sing,
        play in the mud, model clay, finger paint, or explore foam,
        etc...however there are specific areas for these to allow each child to
        practice courtesy towards their peers, who also need to deeply engage in
        other activities without interruption and distraction.
      </p>
      <p>
        A Montessori environment thus primarily seeks to protect each child’s
        individual space and freedom. The Montessori environment is surprisingly
        calm, orderly and busy, since our goal is to enable children to engage
        joyfully in their chosen activity and thus improve their skills and
        self-esteem.
      </p>
      <h3>A focus on child-led exploration and activities.</h3>
      <p>
        Montessori environments do not have adult-led curriculum schedules in
        which a group of children are required to move together between
        activities every 20-40 minutes: counting, followed by art, followed by
        outside play etc... Instruction happens in a tailored and individual
        manner, at a unique child’s own pace and it is perfectly acceptable for
        a child to choose to sit outside circle time or continue with his/her
        chosen activity without interruption from others.
      </p>
      <p>
        The Montessori curriculum supports a child’s emerging independence and
        his self-discovery. Children have the luxury of time to choose their own
        activities, to fully explore them at their own pace and to move freely
        in the environment. Most instructions are one-on-one presentations.
        Teachers follow the children’s interests, allowing them to explore the
        materials, giving them the opportunity to continue to practice until
        they are satisfied and understanding the optimal approach to the
        activity in order to build the unique child’s knowledge and skills.
      </p>
      <h3>
        A deliberate, educational curriculum teaching life skills through play.
      </h3>
      <p>
        In the right environment, toddlers are eager to learn through
        exploration and practice, and so their free play is what Montessori
        called ‘work’. Toddlers in a Montessori classroom are surrounded by
        exciting opportunities to develop life skills such as spooning, pouring,
        matching, organising and much more.
      </p>
      <p>
        The activities we provide in the class offer children the opportunity to
        think creatively and develop problem solving skills. Further, our
        trained teachers are able to extend the activities following the
        interests of the unique child for deliberate purposes, such as
        exercising the specific muscles in the hand needed for successful
        writing and drawing
      </p>
      <h3>Grace and courtesy.</h3>
      <p>
        Many parents want their child/ren to become socialized when they start
        nursery. But “socialization” can mean different things in different
        settings. In a Montessori classroom, we guide children to develop what
        Montessori calls <i>grace and courtesy</i>.
      </p>
      <ul>
        <li>
          We establish some clear rules that support a peaceful classroom such
          as children may only take activities from shelves, never from another
          child.
        </li>
        <li>
          We give children the language they need to express their needs (“I am
          playing with this; you may have it when I am done,” or “I feel angry
          because you messed up my work.”)
        </li>
        <li>
          Teachers model benevolent and cooperative behaviour such as role
          playing with children scenarios demonstrating how to solve
          ‘conflicts’.
        </li>
      </ul>
      <p>
        The Montessori focus on teaching individual, pro-social skills is
        different from the group conformity. It is perfectly welcomed if a child
        can question their teachers/instructors and peers instead of simply
        conforming. We believe a child should not do what is told, but should do
        what is reasoned and/or child chooses to follow role-modelled actions.
      </p>
      <h3>A focus on developing inner discipline.</h3>
      <p>
        In Montessori environments, the goal is to help children acquire
        self-discipline: we want children to <b>understand</b> the right course of
        behaviour, and to be <b>internally motivated</b> to behave well.
      </p>
      <ul>
        <li class="cross">
          Our teachers don’t expect immediate obedience from toddlers, nor do
          they offer rewards (praise, stickers etc.) for ‘good’ behaviour, nor
          punishments (time outs, withdrawal of rights e.g. no pudding) for
          ‘bad’ behaviour.
        </li>
        <li>
          Instead, we believe that children naturally behave acceptably, and
          that by setting up the right environment, and role-modelling kind,
          respectful behaviour, we can guide your child to develop inner
          discipline.
        </li>
      </ul>
      <p>
        When a child does misbehave, we emphasize positive alternatives e.g.
        instead of “No running!” we calmly explain, “We walk in class. Let’s go
        back and walk to the sink together.” For the older children we may
        discuss logical consequences of their actions through calm
        non-judgemental discussion “what would happen if you run? What else
        could you do instead?” And because we have mixed aged classrooms, older
        returning students are able to model healthy behaviour and younger
        children benefit from the example of their older peers, and older
        children benefit from the opportunity to mentor and guide their younger
        peers.
      </p>
      <h3>A mixed age classroom.</h3>
      <p>
        In a Montessori setting, we value the influence of other children and
        peers on the learning and development of individual children and so
        encourage and ensure mixed-age classrooms, whilst ensuring the safety of
        the very young. When a child can teach another, that child consolidates
        knowledge for him/herself as well as developing valuable social skills.
        Importantly, a more able child is the best and most interesting teacher
        / role model to another child. Lastly, there are much greater
        opportunities for developing social skills and strengthening our
        classroom community when the knowledge, skill sets, abilities and ages
        of the children are mixed.
      </p>
      <p class="quote">
        “The main thing is that the groups should contain different ages,
        because it has great influence on the cultural development of the child.
        This is obtained by the relations of the children among themselves. You
        cannot imagine how well a young child learns from an older child; how
        patient the older child is with the difficulties of the younger.”
        <div class="quote-name">- Maria Montessori</div>
      </p>
      <h3>A higher ratio of trained teachers.</h3>
      <p>
        We could not stress more the importance of Montessori trained teachers
        and their assistants, a much more effective education can happen with
        one trained teacher than with ten untrained adults and therefore, our
        ratio takes into account levels of trainings, not simply the age and
        number of adults. Trained teachers are also able to effectively achieve
        increasing independence – a key curriculum content.
      </p>
      <p>
        In a small Montessori classroom with qualified teachers, our children
        are nurtured and they learn with joy. The increasing independence helps
        with children’s self-esteem, creating a positive loop of joyful
        learning. In this way each child has the optimal environment to be
        guided in his/her unfolding into a bright, capable, confident, energised
        and enthused student. Increasingly independent children also role-model
        to newcomers and youngsters, and they also need less of adults’ help,
        which in turn frees our teachers’ time to observe, evaluate, analyse,
        plan further and implement progressive classrooms with more engaging and
        satisfying activities. The aim is that the classroom operates as if
        there was no teacher present.
      </p>
      <h3>Trained permanent teachers.</h3>
      <p>
        Montessori classrooms are not generally larger than 25children – an
        optimal size for learning and development, which also ensures training
        adults are not overwhelmed by volume of toddlers and instructing their
        emerging skills. Trained permanent staff in leading roles are essential
        to retain consistency in classrooms and therefore we do not provide any
        lead roles on part-time or ad hoc basis.
      </p>
      <p>
        In a small Montessori setting, our lead teachers either join us with a
        Montessori teaching credential, often from a <a
          href="http://en.wikipedia.org/wiki/Association_Montessori_International_of_the_United_States"
          >MCI training program</a
        >, or complete their training while employed with us. Further, as
        Montessorians, we believe in practicing what we preach and our staff are
        treated with great respect, encouraged to self-reflect and self-improve,
        taking the lead of their own independent continuous learning. We aim to
        provide full-time permanent roles to our staff.
      </p>
      <h3>Oversight by a Montessori-trained Head of School and Manager.</h3>
      <p>
        Montessori Garden is <b>led by educators</b>, a:
        <br />
        Montessori-trained Head of School & Manager, <br />
        Montessori-trained Deputy Manager, and a<br />
        Montessori-trained Owner, ensuring consistency of high standards and a unified
        direction. Our managers are hands on in our small setting, teaching and observing,
        providing feedback to teachers to help them improve their practice, and actively
        working with parents in partnership for the further optimisation of their
        children’s learning environment.
      </p>
      <p>
        We are educators first and foremost, before being administrators or
        investors, to avoid conflicting directions and reduced efficiency in
        delivering the Montessori curriculum. Clearly stating our priorities
        helps us work better together.
      </p>
      <h3>
        Does our Montessori approach work? We invite you to come and see for
        yourself!
      </h3>
      <p class="conclusion">
        Most parents are astonished to see how calm, capable, confident and
        serenely happy the children in our Montessori classrooms are. If you
        doubt that your own rambunctious, active toddler could ever be like
        that, rest assured that the children you now observe calmly seated
        eating snack together came to us no different than your child.
      </p>
      <p class="conclusion">
        The Montessori toddler environment really is that different from other
        daycare settings, and that’s why Montessori children behave differently,
        too!
      </p>
    </SectionLayout>
  </article>
</Layout>

<style lang="scss">
  @import "../styles/vars.scss";
  @import "../styles/section.scss";

  .container {
    .img-container {
      overflow: auto;

      .img {
        float: right;
        margin-left: 0.5em;
        width: 150px;
        height: 200px;
        object-fit: cover;
        object-position: top;
      }
    }

    .source {
      width: 100%;
      margin-top: 1em;
      text-align: right;
      font-style: italic;
    }

    .quote {
      margin-top: 1em;
      font-family: "Caveat";
      font-size: 1.5em;
    }

    .conclusion {
      font-size: 1.125em;
    }
  }
</style>
