---
import Layout from "src/layouts/Layout.astro";
import SectionLayout from "src/layouts/SectionLayout.astro";
import ArticlePreview from "src/layouts/ArticlePreview.astro";
const allArticles = await Astro.glob<Frontmatter>("../pages/news/*.mdx");

const articlesSorted = allArticles
  .sort((a, b) => (a.frontmatter.date > b.frontmatter.date ? -1 : 1))
  .slice(0, 4);

interface Image {
  url: string;
  alt?: string;
}

interface Frontmatter {
  title: string;
  date: string;
  images: Image[];
}
---

<Layout
  title="Latest News"
  description="Get updated on our latest news and events"
>
  <SectionLayout heading="Latest News">
    {
      articlesSorted.map((post) => (
        <div class="article">
          <ArticlePreview
            title={post.frontmatter.title}
            url={post.url}
            date={post.frontmatter.date.slice(0, 10)}
          />
        </div>
      ))
    }
  </SectionLayout>
</Layout>

<style lang="scss">
  .article:not(:last-child) {
    margin-bottom: 2em;
  }
</style>
