---
import Layout from "src/layouts/Layout.astro";
import SectionLayout from "src/layouts/SectionLayout.astro";
---

<Layout title="Our Qualified Staff | Montessori Garden" description="">
  <SectionLayout heading="Our Qualified Staff">
    <p>
      Montessori Garden Nursery School Kentish Town takes great compassion,
      humility and enthusiasm to be a Montessori Garden professional and we take
      caution in carefully selecting applicants to ensure that not only their
      qualification is appropriate and they are suitable, but also that they
      subscribe to serving the children and their independence.
    </p>
    <p>
      Our dedicated teachers form close partnerships with Parents through the
      key person system, which ensure regular flow of information and inclusion,
      both face-to-face and via the child development booklets we share with our
      Parents.
    </p>
    <p>
      Your child’s key person is named in your child’s individual booklet and
      ensures that your child’s care is tailored to meet their individual needs,
      to help your child become familiar with the setting, offer a settled
      relationship for your child and build a relationship with you, the
      Parents.
    </p>
    <p>
      We are here to support our staff who care for your children by providing
      them with a rewarding career, regular training and opportunities for
      growth. A number of incentive programmes ensure highly trained and
      carefully selected staff are here to stay, forming a secure attachment and
      a safe base from which your child can explore, discover and overcome
      challenges. For careers information please contact
      info@montessorigarden.co.uk quoting ‘careers’ in the subject line.
    </p>
  </SectionLayout>
</Layout>

<style lang="scss">
  @import "../styles/vars.scss";
  @import "../styles/section.scss";
</style>
