---
const { text } = Astro.props;
---

<button>{text}</button>

<style lang="scss">
  @import "../styles/vars.scss";

  button {
    width: 135px;
    height: 35px;
    border: none;
    border-radius: 20px;
    background-color: $darkblue;
    font-size: 1rem;
    color: white;
    transition: transform 200ms ease;

    @media only screen and (min-width: $md) {
      width: 150px;
      height: 45px;
    }

    &:hover {
      transform: scale(115%);
    }
  }
</style>
