---
import { Image } from "@astrojs/image/components";
import icon_phone from "../assets/icons/icon-phone.png";
import icon_address from "../assets/icons/icon-address.png";
import icon_email from "../assets/icons/icon-email.png";
---

<footer>
  <div class="banner">Montessori Garden</div>
  <div class="contact">
    <div class="row">
      <Image
        class="icon"
        src={icon_phone}
        alt="phone icon"
        width={70}
        height={70}
      />
      <div class="text">020 3637 5508</div>
    </div>
    <div class="row">
      <Image
        class="icon"
        src={icon_address}
        alt="address icon"
        width={70}
        height={70}
      />
      <div class="text">
        7 Dowdney Close,<br />
        Bartholomew Road,<br />
        London, NW5 2BP
      </div>
    </div>
    <div class="row">
      <Image
        class="icon"
        src={icon_email}
        alt="email icon"
        width={70}
        height={70}
      />
      <div class="text">contact@montessorigarden.co.uk</div>
    </div>
    <hr />
    <nav>
      <ul class="nav__links">
        <li>Contact & Location</li>
        <li>Come for a visit!</li>
        <li>Latest News</li>
        <li>Events</li>
        <li>Parents' Corner</li>
        <li>Staff Area</li>
        <li>Our qualified Staff</li>
        <li>A typical day</li>
        <li>Reviews & Comments</li>
        <li>Admissions</li>
        <li>Services & Fees</li>
      </ul>
    </nav>
    <hr />
    <div class="bottom">
      <ul>
        <li>Sitemap</li>
        <li>Privacy Policy</li>
        <li>Cookie Policy</li>
      </ul>
      <div>&copy; 2023 | Montessori Garden | Erdene Ltd.</div>
      <div>By Norbu with ♡</div>
    </div>
  </div>

  <style lang="scss">
    @import "../styles/vars.scss";
    $banner: url("../assets/images/footer/banner.png");

    footer {
      background-color: $green;
      color: white;

      .banner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        background-image: $banner;
        background-size: cover;
        background-position: right;
        color: black;
      }

      .contact {
        .row {
          display: flex;
          align-items: center;
          width: 300px;
          margin: 1em auto;
        }

        img {
          object-fit: contain;
          width: 40px;
        }

        .text {
          margin-left: 2em;
        }
      }

      nav {
        padding: 0 1em;
      }

      .nav__links {
        display: flex;
        flex-flow: column wrap;
        column-gap: 1em;
        row-gap: 5px;
        height: 200px;
        padding: 1em 0;
      }

      .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;

        ul {
          display: flex;
          gap: 1em;
        }
      }
    }
  </style>
</footer>
