---
import { Image } from "@astrojs/image/components";
import icon_phone from "../assets/icons/icon-phone.png";
import icon_address from "../assets/icons/icon-address.png";
import icon_email from "../assets/icons/icon-email.png";
---

<footer class="container">
  <div class="banner">Montessori Garden</div>
  <div class="contact">
    <div class="row">
      <Image class="icon" src={icon_phone} alt="" width={70} height={70} />
      <div class="text"><a href="tel:02034415860">020 3441 5860</a></div>
    </div>
    <div class="row">
      <Image class="icon" src={icon_address} alt="" width={70} height={70} />
      <div class="text">
        7 Dowdney Close,<br />
        Bartholomew Road,<br />
        London, NW5 2BP
      </div>
    </div>
    <div class="row">
      <Image class="icon" src={icon_email} alt="" width={70} height={70} />
      <div class="text">
        <a href="mailto:contact@montessorigarden.co.uk"
          >contact@montessorigarden.co.uk</a
        >
      </div>
    </div>
  </div>
  <hr />
  <nav class="footer-nav">
    <ul class="nav-links">
      <li>Contact & Location</li>
      <li>Come for a visit!</li>
      <li>Latest News</li>
      <li>Events</li>
      <li>Parents' Corner</li>
      <li>Staff Area</li>
      <li>Our qualified Staff</li>
      <li>A typical day</li>
      <li>Reviews & Comments</li>
      <li>Admissions</li>
      <li>Services & Fees</li>
    </ul>
  </nav>
  <hr />
  <div class="bottom">
    <ul class="bottom-links">
      <li>Sitemap</li>
      <li>Privacy Policy</li>
      <li>Cookie Policy</li>
    </ul>
    <div>&copy; 2023 | Montessori Garden | Erdene Ltd.</div>
    <div>By Norbu with ♡</div>
  </div>

  <style lang="scss">
    @import "../styles/vars.scss";
    $banner: url("../assets/images/footer/banner.png");

    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      display: flex;
      background-color: $green;
      color: white;

      .banner {
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
        height: 100px;
        background-image: $banner;
        background-size: cover;
        background-position: right;
        font-family: "Caveat";
        font-size: 2em;
        font-weight: 700;
        color: $green;
      }

      .contact {
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        display: flex;
        margin: 1em;

        .row {
          align-items: center;
          display: flex;
          width: 300px;
        }

        a,
        a:visited {
          color: white;
        }

        .icon {
          width: 40px;
          height: 40px;
          object-fit: contain;
        }

        .text {
          margin-left: 2em;
        }
      }

      hr {
        width: 100%;
        max-width: $md;
        border: 1px solid white;
      }

      .footer-nav {
        width: 90%;
        max-width: 400px;
      }

      .nav-links {
        flex-flow: column wrap;
        column-gap: 1em;
        row-gap: 5px;
        display: flex;
        margin: 1em;
        height: 150px;
      }

      .bottom {
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        display: flex;
        padding: 1em;
        font-size: 0.825em;

        .bottom-links {
          gap: 1em;
          display: flex;
        }
      }
    }
  </style>
</footer>
