---
import { Image } from "@astrojs/image/components";
import icon_menu from "../assets/icons/icon-menu.png";
---

<header>
  <div class="banner">
    <div class="title">
      <h1 class="main">Montessori Garden</h1>
      <h1 class="sub">Kentish Town</h1>
    </div>
    <button type="button" class="menu-btn">
      <Image
        class="menu-icon"
        src={icon_menu}
        alt="menu button"
        width={361}
        height={216}
      />
    </button>
  </div>
  <nav class="nav" id="nav">
    <ul class="nav__links">
      <li class="link">Home</li>
      <li class="link">Our Nursery</li>
      <li class="link">Enrollment</li>
      <li class="link">News & Events</li>
      <li class="link">Contact</li>
      <li class="link">Visit Us</li>
      <li class="link">Parents' Corner</li>
      <li class="link">Staff Area</li>
    </ul>
    <ul class="nav__links nav__links--sub">
      <li class="link">Curriculum</li>
      <li class="link">A typical day</li>
      <li class="link">Our qualified staff</li>
    </ul>
  </nav>
</header>

<script>
  const button = document.querySelector(".menu-btn");
  const nav = document.getElementById("nav");
  if (button === null || nav === null) {
    throw Error;
  } else {
    button.addEventListener("click", () => {
      if (nav.style.height == "0px") {
        nav.style.height = "45vh";
      } else {
        nav.style.height = "0px";
      }
    });
  }
</script>

<style lang="scss">
  @import "../styles/vars.scss";

  header {
    width: 100vw;
    height: $ht-header;
    background-color: white;

    .banner {
      justify-content: space-between;
      display: flex;
      height: 100%;
      padding: 0 1em 0 2em;

      .logo {
        width: 17%;
      }

      .title {
        justify-content: center;
        flex-direction: column;
        display: flex;
        color: $green;

        .main {
          justify-content: flex-start;
          align-items: center;
          display: flex;
          height: 50%;
          font-size: 2.125rem;
          font-family: "Caveat";
          font-weight: 600;
        }

        .sub {
          padding-left: 3px;
          font-size: 1.25rem;
          font-family: "Mukta";
          font-weight: 500;
        }
      }

      .menu-btn {
        justify-content: center;
        align-items: center;
        display: flex;
        border: none;
        background: none;

        .menu-icon {
          width: 30px;
          height: 25px;
        }
      }
    }
    .nav {
      z-index: 2;
      position: absolute;
      overflow: hidden;
      transition: height 250ms ease-in-out;
      border-top: 2px solid $green;
      background-color: white;
      width: 100vw;
      height: 0px;
      color: $green;

      .nav__links {
        float: right;
        flex-direction: column;
        display: flex;
        gap: 1em;
        width: 50%;
        height: inherit;
        padding: 1em 1.5em;

        .link {
          justify-content: flex-end;
          align-items: center;
          display: flex;
          height: 1.5em;
        }
      }

      .nav__links--sub {
        display: none;
      }
    }
  }
</style>
