---
import { Image } from "@astrojs/image/components";
import Button from "./Button.astro";
import img from "../assets/images/home/hero.jpg";
---

<section class="container">
  <div class="heading">
    <h1 class="heading-text">
      Set your child on a path of lifelong curiosity and independence.
    </h1>
  </div>
  <div class="img-container">
    <Image
      class="img"
      src={img}
      alt="children running on a field"
      width={770}
      height={768}
    />
  </div>
  <div class="subtext">
    <div>
      <p>
        Our nursery in Kentish Town provides a safe and loving environment to
        nurture your child's creativity, problem-solving skills and interests
        all while having fun, following the Montessori philosophy.
      </p>
      <p>Come and see the difference for yourself!</p>
    </div>
    <Button text="Visit Us" />
  </div>

  <script>
    window.addEventListener("resize", () => {
      let vh = window.innerHeight * 0.01;
      document.documentElement.style.setProperty("--vh", `${vh}px`);
    });
  </script>

  <style lang="scss">
    @import "../styles/vars.scss";

    .container {
      width: 100vw;
      height: calc(100vh - $ht-header);
      height: calc(var(--vh, 1vh) * 100 - $ht-header);
      background-color: $green;

      .heading {
        justify-content: flex-end;
        align-items: center;
        display: flex;
        height: 25%;
        padding-left: 2rem;
        background-color: $green;
        font-size: 2rem;
        font-family: $font-heading;
        color: white;

        .heading-text {
          margin-bottom: 5px;
          max-width: 400px;
          line-height: 1.125em;
        }
      }

      .img-container {
        position: relative;
        overflow: hidden;
        margin-right: 2rem;
        height: 40%;

        .img {
          position: absolute;
          top: 50%;
          left: 52%;
          -o-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          max-width: 1024px;
        }
      }

      .subtext {
        float: right;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        display: flex;
        max-width: 415px;
        height: 35%;
        padding: 1rem 2rem 0;
        background-color: $green;
        font-size: 1.125rem;
        line-height: 1.125em;
        font-family: $font-heading;
        color: white;

        i {
          font-style: italic;
        }
      }

      .subtext p:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  </style>
</section>
