---
import SectionLayout from "src/layouts/SectionLayout.astro";
import NewsArticle from "../layouts/NewsArticle.astro";
---

<div class="container">
  <SectionLayout heading="News">
    <div class="article-container">
      <NewsArticle date="2023-03-19" heading="Re-Opening June 2020 Onwards">
        <p>
          Please visit our Facebook and Instagram pages @MontessoriGrdn for
          updates on how our partial re-opening in June 2020 has been.
        </p>
      </NewsArticle>
    </div>
    <div class="article-container">
      <NewsArticle
        date="2023-03-22"
        heading="Virtual Open Day 10.30am Sat 16 May 2020"
      >
        <p>
          Please join us on Zoom for our next Virtual Open Day starting at
          10.30am ending 11.30am, on Saturday 16th May 2020 for an opportunity
          to meet our head of school and directors.
        </p>
      </NewsArticle>
    </div>
  </SectionLayout>
</div>

<style lang="scss">
  .container {
  }

  .heading {
    font-size: 2rem;
  }

  .article-container {
    margin-bottom: 1em;

    p {
      margin: 1em 0;
    }
  }
</style>
