---
import { Image } from "astro:assets";
import montessori_method from "../assets/images/presentation/montessori-method.jpg";
import curriculum from "../assets/images/presentation/curriculum.jpg";
import typical_day from "../assets/images/presentation/typical-day.jpg";
import our_staff from "../assets/images/presentation/our-staff.jpg";
---

<div class="container">
  <a href="/curriculum" class="tile top-left">
    <Image
      class="img"
      src={curriculum}
      width="500"
      alt="visiting a fire station"
    />
    <div class="text">Curriculum</div>
  </a>
  <a href="/montessori-method" class="tile top-right">
    <Image
      class="img"
      width="500"
      src={montessori_method}
      alt="immersed in an interesting activity"
    />
    <div class="text">The Montessori Method</div>
  </a>
  <a href="/a-typical-day" class="tile bottom-left">
    <Image
      class="img"
      src={typical_day}
      width="500"
      alt="playing in our outdoor garden"
    />
    <div class="text">A Typical Day</div>
  </a>
  <a href="/our-staff" class="tile bottom-right">
    <Image
      class="img"
      src={our_staff}
      width="500"
      alt="staff taking children on a trip"
    />
    <div class="text">Our Qualified Staff</div>
  </a>
</div>

<style lang="scss">
  @import "../styles/vars.scss";

  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.25em;
    display: grid;
    width: 100%;
    height: 100%;

    .tile {
      position: relative;
      justify-content: center;
      display: flex;
      overflow: hidden;

      .text {
        position: absolute;
        bottom: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        transition: height 0.5s;
        width: 100%;
        height: 3em;
        @include bg-opac($darkblue, 7);
        text-align: center;
        font-size: 0.825em;
        font-family: "Caveat";
        font-size: 1.25em;
        color: white;

        @media only screen and (min-width: $md) {
          height: 3em;
          font-size: 1.5em;
        }

        @media only screen and (min-width: $lg) {
          height: 2em;
          font-size: 2em;
        }
      }

      &:hover {
        .text {
          height: 100%;
        }
      }

      .img {
        object-fit: cover;
        height: 100%;
      }
    }

    .top-left {
      border-top-left-radius: 15px;
    }

    .top-right {
      border-top-right-radius: 15px;
    }

    .bottom-left {
      border-bottom-left-radius: 15px;
    }

    .bottom-right {
      border-bottom-right-radius: 15px;
    }
  }
</style>
