---
const { url, date, title } = Astro.props;
---

<article class="container">
  <a href={url}>
    <div class="header">
      <div class="date">{date}</div>
      <div class="title">{title}</div>
    </div>
    <slot />
  </a>
</article>

<style lang="scss">
  @import "../styles/vars.scss";

  .container {
    background: lightgrey;
    padding-bottom: 0.5em;

    & a,
    & a:visited {
      text-decoration: none;
      color: black;
    }

    .header {
      background: $green;
      width: 100%;
      padding: 1em;
      font-size: 1.25em;
      color: white;

      .date {
        font-size: 0.85em;
      }
    }

    .body {
      margin: 1em;
    }
  }
</style>
