---
const { url, date, title } = Astro.props;
---

<div class="container">
  <a href={url}>
    <div class="header">
      <div class="date">{date}</div>
      <div class="title">{title}</div>
    </div>
    <div class="body">
      <slot />
      [...read more]
    </div>
  </a>
</div>

<style lang="scss">
  @import "../styles/vars.scss";

  .container {
    border: 1px solid $green;

    & a,
    & a:visited {
      text-decoration: none;
      color: black;
    }

    .header {
      width: 100%;
      padding: 1em 0.5em;
      border-bottom: 1px solid $green;
      background: $green;
      font-size: 1.25em;
      font-family: $font-h1;
      color: white;

      .date {
        font-size: 0.85em;
      }
    }

    .body {
      width: 100%;
      padding: 1em 0.5em;
      font-family: $font-p;
    }
  }
</style>
