---
import "../styles/reset.css";
import "@fontsource/caveat";
import "@fontsource/open-sans";
import "@fontsource/poppins";
import "@fontsource/lato";
import "@fontsource/mukta";
import "@fontsource/handlee";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head class="header">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <meta property="og:title" content="Montessori Garden Nursery School" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://montessorigarden.netlify.app/image-og.jpg"
    />
    <meta property="og:url" content="http://montessorigarden.co.uk" />
    <meta
      property="og:description"
      content="We provide reliable childcare in Kentish Town, London from
      8.00am to 6.00pm Monday to Friday 50 weeks of the years, except for 5
      INSET days a year, with flexibility to choose from 2 to 5 full days a
      week as well as auxiliary services."
    />
    <meta property="og:image:width" content="768" />
    <meta property="og:image:height" content="625" />

    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <button class="btn-top"></button>
    <Footer />
  </body>
</html>

<script>
  let lastScrollTop = 0;

  function onScrollToTop() {
    window.scrollTo({ top: 0, behavior: "smooth" });
  }

  function toggleButtonShow() {
    let st = window.pageYOffset || document.documentElement.scrollTop;

    if (st > lastScrollTop || window.scrollY < window.innerHeight / 2) {
      upBtn.classList.remove("show-btn");
    } else if (st < lastScrollTop) {
      upBtn.classList.add("show-btn");
    }
    lastScrollTop = st <= 0 ? 0 : st;
  }

  const upBtn = document.querySelector(".btn-top") as HTMLElement;
  window.addEventListener("scroll", toggleButtonShow, false);
  upBtn?.addEventListener("click", onScrollToTop);
</script>

<style is:global lang="scss">
  @import "../styles/vars.scss";

  /* body * { */
  /*   border: 1px solid red; */
  /* } */

  body * {
    @import "../styles/vars.scss";

    box-sizing: border-box;
  }

  .btn-top {
    z-index: 5;
    position: fixed;
    bottom: 4em;
    right: 1.5em;
    display: none;
    border-radius: 5px;
    border: 1px solid lightgrey;
    height: 1.5em;
    width: 1.5em;
    opacity: 0.5;
    background-color: white;
    background-image: url("../assets/icons/icon-up.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 1em;

    &:active {
      transform: scale(110%);
    }
  }

  .show-btn {
    display: initial;
  }
</style>
