---
interface Props {
  heading?: string;
  bgColor?: string;
}

const { heading, bgColor = "white" } = Astro.props;
---

<section class="container">
  <h1>{heading}</h1>
  <slot />
</section>

<style lang="scss" define:vars={{ bgColor }}>
  @import "../styles/vars.scss";

  .container {
    padding: 2rem 1rem 0;
    background-color: var(--bgColor);

    h1 {
      padding-bottom: 1rem;
      font-size: 2rem;
    }
  }
</style>
