---
interface Props {
  heading?: string;
  bgColor?: string;
}

const { heading, bgColor = "white" } = Astro.props;
---

<section class="container">
  <h1 class="heading">{heading}</h1>
  <slot class="children" />
</section>

<style lang="scss" define:vars={{ bgColor }}>
  @import "../styles/vars.scss";

  .container {
    margin: 0 auto;
    padding: 1em;
    background-color: var(--bgColor);
    max-width: $lg;

    @media only screen and (min-width: $md) {
      padding: 4rem;
    }

    .heading {
      font-size: 2rem;
      margin-bottom: 1em;
    }
  }
</style>
